.cart_box{
    border: 1px solid rgb(181, 172, 172);
    width: 50%;
    margin: auto;
    height: auto;
    padding: 22px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

.cart_imgs{
    width:50%;
}

.cart_price_btn{
    /* border: 2px solid red; */
    /* display: inline-block; */
    padding: 5px;

}

.prod_brand{
    /* border: 2px solid red; */
    display: block;
    padding: 5px;
}