.cart_box{
    border: 1px solid rgb(181, 172, 172);
    width: 88%;
    margin-left: 90px;
    height: auto;
    padding: 22px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
   
}

.cart_imgs{
    width:90%;
}

.cart_price_btn{
    /* border: 2px solid red; */
    /* display: inline-block; */
    padding: 5px;

}

.prod_brand{
    /* border: 2px solid red; */
    display: block;
    padding: 5px;
    font-weight: bold;
}

.cut{
    text-decoration: line-through;
}
.cart_price{
    font-weight: bold;
}